.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.authentication form {
  margin-bottom: 1rem;
}
