.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #13fd7d;
  border-radius: 4px;
  background: #13fd7d;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 100%; /* 设置相同的宽度 */
  max-width: 200px; /* 设置最大宽度 */
}


.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #13fd7d;
  border-color: #13fd7d;
}

.button--inverse {
  background: transparent;
  color: #13fd7d;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #13fd7d;
}

.button--danger {
  background: #14ce83;
  border-color: #14ce83;
}

.button--danger:hover,
.button--danger:active {
  background: #14ce83;
  border-color: #14ce83;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}